
<html>
 

<body> 

	
<div class="hero-unit">


<h1> Member List</h1><br>
 
 <div class="btn">
	<%=link_to("Create new  member",:action=>'newMember')%> </div>
	<div class="btn">	<%=link_to("Back to Admin Menu",:controller=>'access',:action=>'menu')%></div>

	
	<br>
<table class="table">

	<th>		<%="First Name"%> </th>
	<th>	<%="Last Name"%>  </th>   
	<th>	<%="User Name"%>  </th>  
	 
	
	 	 
	 	 
			<th>		<%="Actions"%></th>
			 
 
<tr>		<%= will_paginate @members %>
 
	<%@members.each do |member|%>
	<td><%=member.first_name%>        </td>  
	   	<td><%=member.last_name%>        </td>      				 
    		 		  
	<td><%=member.username%>        </td>  
	  	
	 <td class="btn"> <%=link_to("EDIT",:action=>'editMember',:id=>member.id)%>	 </td>
	 <td class="btn"> 		 <%=link_to("DELETE",:action=>'deleteMember',:id=>member.id)%>	</td>	  
			 	   
		</tr>
		
	<%end%>

	
	</table>
		<%= will_paginate @members %>
	 
	 <h3><%=flash[:notice]%></h3> 
	</div>

 
</html>
 
