
<html>
 

<body>
	
	
<div class="hero-unit">

<%=form_for(:recipe,:url=>{:action=>'update',:id =>@recipe.id}) do |f| %>
 
 
<table  class="table">
 
<tr>
<th>Recipe Title</th>
<td>
		<%=f.text_field(:title)%></td>
		</tr>
		<tr><td>
			
		</td> <%= f.file_field :recipephoto %>
			</tr>
		<tr>
		<th>Recipe Instructions</th>
		<td class ="mceEditor"> 
				<%=f.text_area(:content,size: "60x12")%></td>
				</tr>
					<tr>
						<th>
						Posted By</th>
						<td><%=f.text_field(:member_username,:disabled=>'true')%> </td>	 
					 </tr>
		 
			<tr>
			 <td>  <%=f.submit "Edit Recipe",class:'btn' %> 
					</td> 
	
<td> <%=link_to("CANCEL",{:action=>'list'},:class=>'btn')%> </td>
	
	 </tr>
	</div>
	<%end%>
	
	</body>
	</html>
	
	
	
	
