<html>
 

<body>
	
	
<div class="hero-unit">
	<h3>Recipes List</h3>
		<div class="btn">	<%=link_to("Add new Recipe ",:action=>'new')%> </div>
	<div class="btn">
			<%=link_to("Back to Admin Menu",:controller=>'access',:action=>'menu')%>
			</div>

		<table class="table">	
			
			<%= will_paginate%>
 
		<%@recipes.each do |recipe|%>


 	 <tr>
			<td>
	  			<%=recipe.title%> </td> 
	 	  	 		<td class="btn">	
						<%=link_to("VIEW",:action=>'listRecipes',:id=>recipe.id)%>	 </td>
				<td class="btn">	
					<%=link_to("EDIT",:action=>'edit',:id=>recipe.id)%>	 </td>
			 <td class="btn"> 
				<%=link_to("DELETE",:action=>'delete',:id=>recipe.id)%></td>
		 	</td>
	</tr>
 		<%end%>
	</table>
				<%= will_paginate%>
	
	 <h3><%=flash[:notice]%></h3> 
	
	</div>
	
	</body>
	  

	
</html>
 
