 <html>
 <body>
 	<div class="hero-unit">
	 
	<table class="table">
	 
 				<%@recipes.each do |recipe|%>
 				

					<tr> 
						<th>  
				 		 <%= recipe.title%> 
		 				</th>
		
						<td><p><b>Posted  by: </b>
									<%=recipe.member_username%></p></td>
									<td>	<p><b>On :</b> <%=recipe.created_at.strftime("%B %e %Y") %></td>
	 				</tr> 
						<tr>
								<td>
								<%= image_tag recipe.recipephoto.url(:medium) %>
								</td>
						</tr>       				      		  
 	 	<tr> 
						<td>
						<%=	recipe.content%>
			 				
			 			</td>
		 			</tr>	
					 
				 
						<%end%>
			</table>
				<div class="btn">
						<%=link_to("Back to Recipe List", :action=>'list')%></div>
			
 	
		</div>
</body>

</html>