 <html>
 <body>
 	<div class="hero-unit">
	 
	<table class="table">
	 
 				<%@recipes.each do |recipe|%>
 				

					<tr> 
						<th>  
				 		 <%= recipe.title%> 
		 				</th>
	 				</tr>        				      		  
 	 	<tr> 
						<td>
						<%=	recipe.content%>
			 				
			 			</td>
		 			</tr>	
					<tr>
						<td>
							Posted By:<%=recipe.member_username %></td></tr>
					<tr> 
						<td>
							Created @<%=recipe.created_at %> && Updated @<%=recipe.updated_at %></td>
						</tr>
						<%end%>
			</table>
				<div class="btn">
						<%=link_to("Back to Recipe List", :action=>'list')%></div>
			
 	
		</div>
</body>

</html>