<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li><%=link_to("Manage Home",:controller=>'homes',:action=>'list')%></li>
				 	<li><%=link_to("Manage Events",:controller=>'events',:action=>'index')%></li>
					<li><%=link_to("Manage Reviews",:controller=>'products',:action=>'index')%></li>
					<li><%=link_to("Manage   Recipes",:controller=>'recipes',:action=>'index')%></li>
					<li><%=link_to("Manage   Items",:controller=>'items',:action=>'list')%></li>
					<li><%=link_to("Manage Contact Us",:controller=>'contacts',:action=>'list')%></li>
					<li><%=link_to("Manage Admins",:controller=>' ',:action=>' ')%></li>		 
					<li><%=link_to("Manage Sign Up",:controller=>' ',:action=>' ')%></li>
					<li><%=link_to("Logout",:controller=>'access',:action=>'logout')%></li>
                  </ul>
                </div>
              </div>

            </div>