 
<html>
 

<body>
	
	
<div class="hero-unit">
 	<div class="btn"><%=link_to("Logout",:controller=>'access',:action=>'logout')%></div>
	<h2>Admin Panel</h2>
 
	<h3 align="left">Welcome Admin <%= session[:username]%> !</h3>
	
	
<table class="table">
	
	<tr>
		<td><h4><%=link_to("Manage Home",:controller=>'homes',:action=>'list')%></h4></td> 
	 	<td><h4><%=link_to("Manage Events",:controller=>'events',:action=>'index')%></h4></td>
		<td><h4><%=link_to("Manage Reviews",:controller=>'products',:action=>'index')%></h4></td>
	</tr>
	
		<tr>
				<td><h4><%=link_to("Manage   Recipes",:controller=>'recipes',:action=>'index')%></h4> 
	 			<td><h4><%=link_to("Manage   Items",:controller=>'items',:action=>'list')%></h4></td> 
	 			<td><h4><%=link_to("Manage Contact Us",:controller=>'contacts',:action=>'list')%></h4></td>
	   </tr>
 		 
 	<tr>	<td><h4><%=link_to("Manage Admins",:controller=>' ',:action=>' ')%></h4></td>
			<td><h4><%=link_to("Manage Members",:controller=>' ',:action=>' ')%></h4></td>
			<td><h4><%=link_to("Manage Sign Up",:controller=>' ',:action=>' ')%></h4></td>
	
	</tr>
		</table>
		</div>
		</body>
		</html>
