<html>
 

<body>
	
	
<div class="hero-unit">
 <h2>Event List</h2><br>
 
		<%= link_to("Back", {:controller => 'access', :action => 'menu'},:class=>'btn') %>
  <%= link_to("Add New Event",{ :action => "newEvents"},:class=>'btn') %>

<br>
 
	<div class="category list">
	 
<br> 
	  Total <%= pluralize(@events.size, 'Event') %>   
		<br> <br>
		
		<%= will_paginate%>
		
	  <table class="table">
	    <tr>
	      <th>Event Name</th>
	       
	      <th>When </th>
	      <th>Duration</th>
	 
	      <th>Actions</th>
	   	
	    </tr>
	    <% @events.each do |event| %>
	    
	      <td><%=raw event.name %></td>
	       
	      <td><%= event.datetime %></td>
	  
	<td><%= event.duration %></td>
	  	
	     <td>
             <%= link_to("Guests List",  {:controller => 'invitees',:action => 'index', :event_id => event.id },:class=>"btn") %>
	 		<%= link_to("Show",{:action => 'showEvents', :id => event.id},:class=>"btn") %>
	        <%= link_to("Edit", {:action => 'editEvents', :id => event.id},:class=>"btn") %>
	        <%= link_to("Delete",{:action => 'deleteEvents', :id => event.id},:class=>"btn") %>

	      </td>
	    </tr>
	    <% end %>
	  </table>
			<%= will_paginate%>
	</div>

 </div>
</body>
</html>

