<html>
 

<body>
	
	
<div class="hero-unit">
 <h2>Event List</h2><br>
 
		<%= link_to("Back", {:controller => 'access', :action => 'menu'},:class=>'btn') %>
 
 
	<div class="category list">
	 

 
		 <%= link_to("Add New Event",{ :action => "newEvents"},:class=>'btn') %>
 
 
	 <div><%= pluralize(@events.size, 'Event') %> found </div>

	  <table class="table">
	    <tr>
	      <th>Event Name</th>
	       
	      <th>When </th>
	      <th>Duration</th>
	 
	      <th>Actions</th>
	   	
	    </tr>
	    <% @events.each do |event| %>
	    
	      <td><%=raw event.name %></td>
	       
	      <td><%= event.datetime %></td>
	  
	<td><%= event.duration %></td>
	  	
	     <td>
             <%= link_to("Guests List",  {:controller => 'invitees',:action => 'index', :event_id => event.id },:class=>"btn") %>
	 		<%= link_to("Show",{:action => 'showEvents', :id => event.id},:class=>"btn") %>
	        <%= link_to("Edit", {:action => 'editEvents', :id => event.id},:class=>"btn") %>
	        <%= link_to("Delete",{:action => 'deleteEvents', :id => event.id},:class=>"btn") %>

	      </td>
	    </tr>
	    <% end %>
	  </table>
	</div>

 </div>
</body>
</html>

