<html>
 

<body>
	
	
<div class="hero-unit">



<%=form_for(:contact,:url=>{:action=>'update',:id =>@contact.id}) do |f| %>

 
 
<table  class="table">
<tr>
<th>     Name</th>
<td>	<%=f.text_field(:name)%></td>
<tr>
<th>  Email</th>
<td>
		<%=f.text_field(:emailid)%></td>
		</tr>
		
		<tr>
		<th>  Facebook</th>
		<td>
				<%=f.text_field(:facebook)%></td>
				</tr>
	 
		<tr>
		 
			<tr>
	     
				 <td>	<%=f.submit "Modify",class:'btn' %> 
				
   <%=link_to("CANCEL",{:action=>'list',:id=>@contact.id},:class=>'btn')%></td>
	
	 </tr>

	<%end%>
	
	
	
	</div>	
