<html>
 

<body>
	
	
<div class="hero-unit">
 
 
<table class="table">

 
 
<tr>
	<%@contacts.each do |contact|%>
<th>		<%=" TITLE"%> </th>	<td><%=contact.name%>        </td>     </tr> 
	<tr>   				 
     <th>	<%="Email"%>  </th> <td><%=contact.emailid%> </td>   
<tr> 

<th>	<%="Find Us in Facebook"%>  </th> <td><%=contact.facebook%> </td>  </tr>  
<tr> 
 	 	 <td> <%=link_to("Modify",{:action=>'edit',:id=>contact.id},:class=>'btn')%>
 			<%=link_to("Cancel",{:controller=>'access',:action=>'menu'},:class=>'btn')%> 	</td>	  
			 	   
		</tr>
		
	<%end%>

	
	</table>
	
	 <h3><%=flash[:notice]%></h3> 
	
	</div>
	  
</body>
	
</html>
 
