<html>
 <body>

	<div class="hero-unit">
	
 
<%=form_for(:home,:url=>{:action=>'update',:id =>@home.id}) do |f| %>

<table class="table">
	<tr>
		<th>    Title</th>
		<td>	<%=f.text_field(:title)%></td>
	 </tr>
	<tr>
		<th>  Content</th>
		<td  > <%=f.text_area(:content)%></td>
 	</tr>
	   
			<tr>
 				<td>
					<div class="btn">	<%=submit_tag("Modify Home")%></div> </td>
		
				<td>
				<div class="btn"><%=link_to("Cancel",:action=>'list',:id=>@home.id)%></div></td>

	 </tr>
	</div>
	<%end%>
</body>
</html>	
	
	
	
