<html>
 <body>

	<div class="hero-unit">
		
	
		
<h3>Manage Home Page</h3>
 
 
	<br>

  
	<%@homes.each do |home|%>
		
		<table class="table">
			<tr>
				<th><%=" TITLE"%> </th>
				<td><%=home.title%>    </td>     
			</tr> 
			<tr>   				 
     			<th><%="CONTENT"%>  </th> 
				<td><%=simple_format(word_wrap(home.content,:line_width=>260))%> </td>    </tr>
			<tr> 
   				<td> 
					<div class="btn">
					<%=link_to("Modify",:action=>'edit',:id=>home.id)%>	 </div>
	 			</td>	  
					<td>
							<div class="btn">
					<%=link_to("Cancel",:controller=>'access',:action=>'menu')%></div>
			</td>
			 	   
		</tr>
		
	<%end%>

	
	</table>
	
	 <h3><%=flash[:notice]%></h3> 
	
	</div>
	  
</body>
	
</html>
 
