
<html>
 <body>

	<div class="hero-unit">
		
		<div class="btn">	<%=link_to("Back to Items list",:controller=>'items',:action=>'list')%></div>
		<table class="table">


<%@items.each do |item|%>

<tr> 
	<td>  <div class="text-error"><h3><%= item.name%></h3> </div>     </td> </tr>        				      		  
		<tr>
				<td>
				<%= image_tag item.itemphoto.url(:medium) %>
				</td>
		</tr>
	
	
	<tr> 
		<td>
			 <%=simple_format(word_wrap(item.content,:line_width=>300))%> 		</td>
			</tr>	
			<tr><td>Posted By:<%=item.member_username %></td></tr>
					<tr> 
						<td>Created @<%=item.created_at %> && 
							 Updated @<%=item.updated_at %></td>
							</tr>
<%end%>

 	
	
</div>
</table>

</html>