
<html>
 

<body>
	
	
<div class="hero-unit">
 

 
	<h3>Kids Items List</h3>
 
	<div class="btn">	
		<%=link_to("Add items ",:action=>'new')%> 
	</div>
	<div class="btn">	
		<%=link_to(" Cancel",:controller=>'access',:action=>'menu')%> 
	</div>
	
	<br>
	
			<%= will_paginate%>

	<table  class="table">
 
			<%@items.each do |item|%>
 <tr>
	 <td><%=item.name%></td>
	<td class="btn"> <%=link_to("VIEW",:action=>'listItem',:id=>item.id)%>	 </td>	
	 <td class="btn"> <%=link_to("EDIT",:action=>'edit',:id=>item.id)%>	 </td>
	 <td class="btn">	 <%=link_to("DELETE",:action=>'delete',:id=>item.id)%>	</td>	  
			 	   
</tr>
		
	<%end%>
 </table>
			<%= will_paginate%>
			
	 <%=flash[:notice]%> 
	
 </div>
	  
</body>
	
</html>
 
