<html>
 

<body>
	
	
<div class="hero-unit">
	 
<%=form_for(:item,:url=>{:action=>'create'}) do |f| %>
 
<table class="table">
	
 
 
	
<tr>
		<th>Item Name</th>
		<td>	<%=f.text_field(:name)%></td>
		
</tr>
 
<tr>
		<th>Item Content </th>
			<td>	<%=f.text_area(:content,size: "60x12")%></td>
</tr>
<tr>
		<th>Posted By</th>
		<td>
				<%=session[:username]%>
			</td></tr>
		<tr>
	 		<td class="btn">
				<%=submit_tag("Create item")%> </td>
			<td class="btn">
				<%=link_to("CANCEL",:action=>'list',:id=>@item.id)%></td></tr>
	
	
	
	<%end%>
<tr> <%=flash[:notice]%> </tr>
 </table>
	</div>
 </body>
</html>