
<html>
 <body>
  
 
<%=form_for(:recipe,:url=>{:action=>'destroyRecipes',:id =>@recipe.id}) do |f| %>
  	
	<h3>Do u Want to delete the following Recipe?</h3>

<table class="table"> 
	<tr>
		<th>
 		<%=@recipe.title%>
		</th>
	</tr>
	<tr>
		 <td>
	 		<%=@recipe.content%> 
		</td>
	</tr>	
	 <tr>
			<td>
					<div class="btn"><%=submit_tag("Confirm Delete")%> </div>
 					<div class="btn"><%=link_to("Cancel",:action=>'listRecipes')%> </div>
			</td> 
	</tr>
	
</table>

	<%end%>
	 

</body>
</html>

