<html>
 <body>		
 
 <%=form_for(:recipe,:url=>{:action=>'updateRecipes',:id =>@recipe.id},:html => { :multipart => true }) do |f| %>
 	<table class="table">
		 
			<tr>
				<th>Recipes Title</th>
				<td>
					<%=f.text_field(:title)%></td>
				</tr>
				<tr><td>
					
				 <%= f.file_field :recipephoto %></td>
					</tr>
				<tr>
					<th>Recipes Contents</th>
					<td>
				 
		<div class ="mceEditor"> 
		<%=f.text_area(:content,size: "60x12")%></div>
			 </td>
						
						
						
					</tr>
					<tr>
					 	<th>Author:			</th>
				<td><%=f.text_field(:member_username)%> </td>	</tr>
			<tr><td> 		<div class="btn"><%=submit_tag("Edit Recipe")%> 	</div>
	</td> <td>	
		<div class="btn">	<%=link_to("CANCEL",:action=>'listRecipes')%></div></td>
	 </tr>
 
					<%end%>
 	</body>
	</html>
