<html>
 <body>		
 
 <%=form_for(:item,:url=>{:action=>'updateItems',:id =>@item.id}) do |f| %>
 	<table class="table">
		 
			<tr>
				<th> Title</th>
				<td>
					<%=f.text_field(:name)%></td>
				</tr>
				<tr><td>

				</td> <%=f.file_field(:itemphoto) %>
					</tr>
				<tr>
					<th>Description</th>
					<td>
 
							<%=f.text_area(:content,size: "60x12")%></td> 
					</tr>
					<tr>
					 	<th>Author:			</th>
				<td><%=f.text_field(:member_username,:disabled=>'true')%> </td>	</tr>
			<tr>
				
				<td> </td>	<td>	 <%=f.submit "Modify",class:'btn' %> 
 
		 	<%=link_to("Cancel",{:action=>'listItems'},:class=>'btn')%> </td>
	 </tr>
 
					<%end%>
 	</body>
	</html>
