<html>

<body>
 
 
<div class="category list">
 
 
  
<table class="table">
	<tr>
<td><h3>Upcoming Events</h3></td></tr>
<tr>
  			
	<td>

<table class="table">
    						<tr>
      								<th>Event Name</th>
      								<th>Event Address</th>
      								<th>When </th>
      								<th>Duration</th>
      								<th>Actions</th>
    							</tr>
    							<% @upcoming_events_arr.each do |event| %>
    							<tr class="<%= cycle('odd', 'even') %>">
      								<td><%=raw event.name %></td>
      								<td><%= event.address %></td>
      								<td><%= event.datetime %></td>
     								<td><%= event.duration %></td>
      								<td class="actions">
        <%= link_to("Evite", {:controller => 'events_members',:action => 'eventdetails', :event_id => event.id }) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

						<td>	</tr>
					
 
<tr>
	<td>

<h3>Past events</h3></td></tr>

<tr>
	<td>
  
  <table class="table">
    <tr class="header">
      <th>Name</th>
      <th>Address</th>
      <th>When </th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
    <% @past_events_arr.each do |event| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%=raw event.name %></td>
      <td><%= event.address %></td>
      <td><%= event.datetime %></td>
     <td><%= event.duration %></td>
      <td class="actions">
        <%= link_to("Event Details", {:controller => 'member',:action => 'eventDetails', :event_id =>event.id }) %>
      </td>
    </tr>
    <% end %>
  </table>

</td>
	</tr>
	</table>


</div>
</body>
</html>