<html>
 

<body>
	
	
<div class="hero-unit">

	 
<%=form_for(:recipe,:url=>{:action=>'createRecipes'},:member_username=>session[:username]) do |f| %>
 
<table class="table">
<tr>
<th>Recipe Title</th>
<td>	<%=f.text_field(:title)%></td>
<tr>
<th>Instructions</th>
<td>
		<%=f.text_area(:content)%></td>
		</tr>
		<tr>
<th>Submitted by</th>
		<td>
				<%= session[:username]%></td>
				</tr>
 		 <tr><td>
	<div class="btn">
			<%=submit_tag("Create Recipe")%> 
			</div></td> 
		<td><div class="btn"><%=link_to("Cancel",:action=>'listRecipes') %></div></td>
		
		</tr>
	<%end%>
<tr> <%=flash[:notice]%> </tr>
 </table>
	</div>
	</body>
	</html>
	 
