<html>
 

<body>
 
	
<div class="hero-unit">


<h1>Manage Products/Services</h1><br>
 
 <div class="btn">
	<%=link_to("Add Products/Services",:action=>'new')%> </div>
	<div class="btn">	<%=link_to("Back to Admin Menu",:controller=>'access',:action=>'menu')%></div>

	
	<br>
	
		<%= will_paginate%>
<table class="table">

 
	<th>	<%="TITLE"%>  </th>   	 
	 	 
			<th>		<%="Actions"%></th>
			 
 
<tr>
	<%@products.each do |product|%>
  	<td><%= product.title%></td>
		 <td class="btn"> <%=link_to("VIEW", :controller=>'reviews', :action=>'list', :product_id=>product.id)%></td>	 	
	 <td class="btn"> <%=link_to("EDIT",:action=>'edit',:id=>product.id,)%>	 </td>
		<td class="btn"> 	 <%=link_to("DELETE",:action=>'delete',:id=>product.id,:class=>'btn')%>	</td>	  
			 	   
		</tr>
		
	<%end%>

	
	</table>
	
		<%= will_paginate%>
		
	 <h3><%=flash[:notice]%></h3> 
	</div>

 
</html>
 
