<html>
 

<body>
	
	
<div class="hero-unit">

 
<%=form_for(:review,:url=>{:action=>'update',:id =>@review.id,:product_id=>@product.id}) do |f| %>

 

<table class="table">
 
<tr>
<th>Reviews Title</th>
<td>
		<%=f.text_field(:title)%></td>
		</tr>
		<tr>
		<th>Reviews Contents</th>
		<td>
				<%=f.text_area(:content,size: "60x12")%></td>
				</tr>
		<tr>
			<th>
			Posted By</th>
			<td><%=f.text_field(:member_username,:disabled=>'true')%> </td>	 
		 </tr>
		
			<tr>
			 <td></td><td>	<%=f.submit "Modify",class:'btn' %>  
 
	 	<%=link_to("CANCEL",{:action=>'list',:product_id=>@product.id},:class=>'btn')%></td>
	 </tr>
	</div>
	<%end%>

	
	
	</body>
	</html>
