<html>
 

<body>
	
	
<div class="hero-unit">
	
	<h1>Reviews List</h1><br>


<div class="btn">	<%=link_to("Back to Product List ",{:controller=>'products',:action=>'list'})%></div>
<br>

 <br>

<table class="table">
 
				<th>	<%="TITLE"%>  </th>   	 
	  	   	 
			 
 

	<% @reviews.each do |review|%>
 		<tr>       				 
        	<td>	<%=review.title	%></td> 
		 
		 	 
				<td>
						<div class="btn"> 				<%=link_to("EDIT",:action=>'edit',:id=>review.id,:product_id=>@product.id)%>
								</div> </td>
			<td> 
				<div class="btn"><%=link_to("DELETE",:action=>'delete',:id=>review.id,:product_id=>@product.id)%>	  </div></td>	
			 	   
		</tr>
		
		
	<%end%>

	
	</table>
	 <h3><%=flash[:notice]%></h3> 
	
	</div>
	  

	
</html>
 
