<html>
 
<body>
 	
<div class="hero-unit">
 
<h3> Reviews for <%=@product.title%> </h3>
 	<%=link_to("Add Reviews",{:action=>'newReviews',:product_id=>@product.id},:class=>'btn')%>  
	
 	<%=link_to("Cancel",{:controller=>'products',:action=>'list'},:class=>'btn')%> 

<br><br>
	 
	<%= will_paginate%>


	<table class="table">


	<% @reviews.each do |review|%>
 

 		<tr>       				 
        	<td>	<%=review.title	%></td> 
		 
		 	 
				<td>

					 			<%=link_to("EDIT",{:action=>'edit',:id=>review.id,:product_id=>@product.id},:class=>'btn')%>
							  
<%=link_to("DELETE",{:action=>'delete',:id=>review.id,:product_id=>@product.id},:class=>'btn')%>	   </td>	
			 	   
		</tr>
		
		
	<%end%>

	
	</table>
	
		<%= will_paginate%>

	<h3><%=flash[:notice]%></h3> 
	</div>
	  

	
</html>
 
