<html>

<body>
 
<div class="hero-unit">
<div class="container">
	  
	 
			<table class="table"> 
 	 
 	<tr>	
	<th class="text-error">
		<h3><%=@recipe.title%></h3></th></tr>
		<tr>
				<td>
				<%= image_tag @recipe.recipephoto.url(:medium) %>
				</td>
		</tr>
		<tr>
		<td><b>By </b> <%=@recipe.member_username%> 
				 	<b>On </b> <%=@recipe.created_at.strftime("%B %e %Y") %></td>
		
		</tr> 
	 	 
	<tr> 
		<td> <%=simple_format(word_wrap(@recipe.content,:line_width=>400))%> </td></tr>
		
		  
	</table>
 				 
  				 
 
	
 </div>
</div>
	
	</body>
	  

	
</html>
 

 
