<html>

<body>
	<div class="container">

 	
		<div class="hero-unit">
		 
<h1>Kids Items for Sale   </h1>
 	 
	<br>
		<%= will_paginate @items %>
	
<table class="table">
 
	<%@items.each do |item|%> 	 
	    
	
	<tr>
			<td > <div class="text-error"><b> <%=item.name%></b></div> </td>
			<td ><b>Posted By : <%=item.member_username%></b></td> 


				<td> 
				  on <%=item.created_at.strftime("%B%e %Y") %></td>
		 
	 
		</tr>	 		  			 	   
	
		<tr>	<td>	<p>
		<div class="lead">	<%=simple_format(word_wrap(item.content,:line_width=>300))%></div></p>
			
			</td></tr>
				
							
 
	
		<%end%>
			</tr>
	
<br>
	
	</table>
	<%= will_paginate @items %>
	 <h3><%=flash[:notice]%></h3> 
	
	</div>
	  </div>
</div>
</div>

 
</body>
	
</html>
 
