<!DOCTYPE html>
<html>
<head>
	
  
   <link  href="/stylesheets/bootstrap.css" rel="stylesheet"  type="text/css"/>
  <title>Clubby Kids</title>
</head>
<body>
	
	
	
	<div class="mainHead"> Clubby Kids</div>
	


  	<div id="container">


<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li><%=link_to("Home",:controller=>'members',:action=>'index')%></li>
				 	<li><%=link_to("Events",:controller=>'members',:action=>'events')%></li>
					<li><%=link_to("Reviews",:controller=>'members',:action=>'listProducts')%></li>
					<li><%=link_to("Kids Recipes",:controller=>'members',:action=>'listRecipes')%></li>
					<li><%=link_to("Kids Items",:controller=>'members',:action=>'listItems')%></li>
					<li><%=link_to("Contact Us",:controller=>'members',:action=>'listContacts')%></li>
					<li><%=link_to("Logout",:controller=>'members',:action=>'logout')%></li>		 
					 
                  </ul>
	
                </div>
              </div>

            </div>
 
<%= yield %>

 </div>
	
 


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="javascripts/bootstrap.js"></script>

</body>
	
</html>