<!DOCTYPE html>
<html>
<head>
 <link  href="/stylesheets/bootstrap.css" rel="stylesheet"  type="text/css"/>
 <title>Clubby Kids</title>
	</head>
	<body>
 	<div class="mainHead"> Clubby Kids</div>
 
  	<div class="container">
		<div class="navbar">
              <div class="navbar-inner">
              	<div class="container">

                  <ul class="nav">
                    <li><%=link_to("Home",:controller=>'member',:action=>'index')%></li>
				 	<li><%=link_to("Events",:controller=>'member',:action=>'listEvents')%></li>
					<li><%=link_to("Reviews",:controller=>'member',:action=>'listProducts')%></li>
					<li><%=link_to("Kids Recipes",:controller=>'member',:action=>'listRecipes')%></li>
					<li><%=link_to("Kids Items",:controller=>'member',:action=>'listItems')%></li>
					<li><%=link_to("Contact Us",:controller=>'member',:action=>'listContactInfo')%></li>
				 	<li><%=link_to("AccountInfo",:controller=>'member',:action=>'showAccountInfo')%></li>
			 
						<% if session[:member_id] && session[:username] %>
					 <li>
					   <%=link_to("Logout",:controller=>'member',:action=>'logout')%>
					 </li>
					    <% else %>
					         <li>	<%=link_to("SignUp",:controller=>'public',:action=>'SignUp')%></li>
							 <li>	<%=link_to("Login",:controller=>'public',:action=>'login')%></li>                
				   		<% end %>     
			 	
					</ul>
		 		</div> 
	 		</div>
	 	 </div>
 	<div class="hero-unit">
	<div align="right">Logged in as: <%= session[:username] %></div>



<%= yield %>

</div>
  

 </div>
	
 <%= javascript_include_tag "application" %>
 

</body>
	
</html>