<!DOCTYPE html>
<html>
<head>
		 <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <title>Clubby Kids</title>
</head>
<body>
	
	
	
	<div class="mainHead"> Clubby Kids</div>
 
  	<div class="container">


<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li><%=link_to("Home",:controller=>'public',:action=>'index')%></li>
				 	<li><%=link_to("Events",:controller=>'public',:action=>'login')%></li>
					<li><%=link_to("Reviews",:controller=>'public',:action=>'listProducts')%></li>
					<li><%=link_to("Kids Recipes",:controller=>'public',:action=>'listRecipes')%></li>
					<li><%=link_to("Kids Items",:controller=>'public',:action=>'listItems')%></li>
					<li><%=link_to("Contact Us",:controller=>'public',:action=>'listContacts')%></li>
					<li><%=link_to("Login",:controller=>'public',:action=>'login')%></li>		 
					<li><%=link_to("Sign Up",:controller=>'public',:action=>'newMember')%></li>
                  </ul>
                </div>
              </div>

            </div>
  
<%= yield %>
 
</div>
	
 


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="javascripts/bootstrap.js"></script>

</body>
	
</html>