
<html>

<body>
	


	<div class="navbar">
	              <div class="navbar-inner">
	          
	                  <ul class="nav">
	                    <li><%=link_to("Home",    :controller=>'members',:action=>'index')%></li>
					 	<li><%=link_to("Events",  :controller=>'members',:action=>'events')%></li>
						<li><%=link_to("Reviews", :controller=>'members',:action=>'listProducts')%></li>
						<li><%=link_to("Kids Recipes",:controller=>'members',:action=>'listRecipes')%></li>
						<li><%=link_to("Kids Items",:controller=>'members',:action=>'listItems')%></li>
						<li><%=link_to("Contact Us",:controller=>'members',:action=>'listContacts')%></li>
					<li>	<%=link_to("Logout",:controller=>'members',:action=>'login')%> </li>

	                  </ul></div>

					</div>
					
					
					<div class="container">	
						<div class="hero-unit">             
	 

	<h3 align="left">Welcome,Logged in as <%=session[:username]%> !</h3>

				
	
	            
 
 		 <%=flash[:notice]%>
 

</div>
</div>

</body>
</html>
 
